<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<launchConfiguration type="org.eclipse.jdt.launching.localJavaApplication">
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_PATHS">
<listEntry value="/CSCI 5448 - Tutotial 1/src/main/java/com/cuboulder/cs5448/CommandLineArguments.java"/>
</listAttribute>
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_TYPES">
<listEntry value="1"/>
</listAttribute>
<stringAttribute key="org.eclipse.jdt.launching.MAIN_TYPE" value="com.cuboulder.cs5448.CommandLineArguments"/>
<stringAttribute key="org.eclipse.jdt.launching.PROGRAM_ARGUMENTS" value="input0 input1 input2"/>
<stringAttribute key="org.eclipse.jdt.launching.PROJECT_ATTR" value="CSCI 5448 - Tutotial 1"/>
</launchConfiguration>
